.Filter {
    width: 300px;
}

.Filter .List {
    padding: 0 0 0 10px;
    display: inline-block;
    border: solid black 2px;
    height: 120px;
    width: 250px;
    overflow: auto;
}

.Filter .Listli {
    list-style-type: none;
}