.MobileCompany
{
  border: double gray 3px;
  width: 800px;
  padding: 3px 7px;
  background-color: rgb(238, 238, 238);
}

.MobileCompanyName
{
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.MobileCompanyClients
{
  margin: 20px 10px;
  border-collapse: collapse;
  padding-top: 5px;  
}

.MobileCompanyClients td, .MobileCompanyClients th 
{
  border: solid green 2px;
  width: 120px;
  height: 30px;
  text-align: center;
}

.Button {
  width: 140px;
  margin: 10px;
  padding: 5px 0;
  background-color: rgb(180, 178, 178);
  border: solid black 1px;
}