.CardProduct {  
  background-color: rgb(232, 238, 225);
  border: solid grey 2px;
  width: 350px;
  margin: 35px auto;
  padding: 10px 40px;
}


.CardProduct >.ProductName {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}



.CardProduct >.Price,
.CardProduct >.Count
{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}





