.IShop {
  border: double gray 3px;
  background-color: #F0F0F0;
}

.IShop>.nameIShop {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}

.IShop>.productsArr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.IShop>.productsArr>.Product2, .IShop>.productsArr>.Product2_ {
  margin: 20px 40px;
  padding: 20px;
  text-align: center;
  border: solid grey 2px;
}

.IShop>.ButtonNewProd {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 250px;
  text-align: center;
  border: solid rgba(128,128,128) 2px;  
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3);
  font-size: 18px;
}


