.NewAndEditProduct {  
  background-color: rgb(232, 238, 225);
  border: solid grey 2px;
  max-width: 450px;
  margin: 35px auto;
  padding: 10px 40px;
}

.NewAndEditProduct h2 {  
  text-align: center;
}

.NewAndEditProduct .LableInput {
  display: inline-block;
  margin: 0 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  width: 100px;
}
.NewAndEditProduct .blockBtnNewEdit {
  display: flex;
  justify-content: center;
}

.NewAndEditProduct .BtnNewEdit { 
  width: 130px;
}


.NewAndEditProduct input {
  margin: 0 10px;
  width: 250px;
}

.NewAndEditProduct .ValidMessage {
  color: red;
  font-size: 12px;
  
}








