.IShop {
  border: double gray 3px;
  background-color: #F0F0F0;
}

.IShop>.nameIShop {
  font-family: 'Lobster', cursive;
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
}

.IShop>.productsArr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.IShop>.productsArr>.Product2 {
  margin: 20px 40px;
  padding: 20px;
  text-align: center;
  border: solid gray 2px;
}

.Product2 {
  border: double gray 3px;
  background-color: #F0F0F0;
}

.Product2_ {
  border: double gray 3px;
  background-color: rgb(250, 168, 229);
}

